html {
  font-family: sans-serif;
}

.content {
  margin: auto;
  width: 400px;
}

.under-card {
  margin-top: 60px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #AAA;
  cursor: pointer;
  margin: 0px 10px;
}

button.confident {
  background: #BBB
}

button:hover {
  background: #FFF
}

.verb {
  font-weight: bold;
}

.front-verb {
  display: inline-flex;
}

.aspect {
  font-size:15px
}

.definition {
  font-style: italic;
  color: #333;
}

.face-wrapper {
  padding: 0px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verb-id {
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.front-wrapper {
  font-size: 35px;
}

.back-wrapper {
  font-size: 22px;
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  margin-top: 5px;
  text-align: center;
}

table tr td {
  border: 1px solid #AAA;
  padding: 2px 8px 2px 8px;
}

.table-label {
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
  padding: 0px;
  margin: 0px;
}


.flip-card {
  background-color: transparent;
  width: 400px;
  height: 550px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: translateZ(-350px)
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg) translateZ(0px);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
  background: #EEE;
  border-radius: 5px;
  color: black;
  /*padding: 30px; Padding here makes translated card offset to left*/
}


.flip-card-front {
  box-shadow: 2px 2px 8px #555;
}

.flip-card-back {
  transform: rotateY(180deg);
  
  box-shadow: 4px 4px 15px #555;
}