<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Card</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme_card2.css') }}">
</head>
<body>
  <div class='content'>
    <div class='card-wrapper-wrapper'>
      <div class='card-wrapper'>

        <div class='card-front-wrapper'>
          <span class='card-id'>id#{{id}}</span>
          <span class='card-front-verb'>{{verb}}</span>
        </div>

        <div class='card-back-wrapper'>
          <div class='card-header'>
            <span class='card-verb'>{{verb}}</span>
            <span class='card-verb-aspect'>({{aspect_shorthand}})</span>
            <br />
            <span class='card-verb-partner'>
              <span class='card-verb-partner-label'>Aspectual partner:</span>
              <span class='card-verb-partner-verb'>{{partner}}</span>
              <span class='card-verb-partner-aspect'>({{partner_aspect_shorthand}})</span>
            </span>
            <hr />
          </div>
          <div class='card-definition'>
            {{definition}}
          </div>
          <hr />
          <div class='card-conjugations'>

            <table class='card-table card-present-conjugations'>
              <tr>
                <th> </th>
                <th>Subject</th>
                <th>Singular</th>
                <th>Plural</th>
              </tr>
              <tr>
                <td rowspan='3' class='card-table-label'><div>Present</div></td>
                <td>First-person</td>
                <td>{{presfut_sg1}}</td>
                <td>{{presfut_pl1}}</td>
              </tr>
              <tr>
                <td>Second-person</td>
                <td>{{presfut_sg2}}</td>
                <td>{{presfut_pl2}}</td>
              </tr>
              <tr>
                <td>Third-person</td>
                <td>{{presfut_sg3}}</td>
                <td>{{presfut_pl3}}</td>
              </tr>

              <tr>
                <td rowspan='3' class='card-table-label'><div>Past</div></td>
                <td>Male</td>
                <td>{{past_m}}</td>
                <td rowspan='3'>{{past_pl}}</td>
              </tr>
              <tr>
                <td>Female</td>
                <td>{{past_f}}</td>
              </tr>
              <tr>
                <td>Neuter</td>
                <td>{{past_n}}</td>
              </tr>
            </table>

            <table class='card-table'>
              <tr>
                <th colspan='4' class='card-table-label'>Imperative</th>
              </tr>
              <tr>
                <th>Singular</th>
                <th>Plural</th>
              </tr>
              <tr>
                <td>{{imperative_sg}}</td>
                <td>{{imperative_pl}}</td>
              </tr>
            </table>

          </div>
          
          <div class='card-button-wrapper'>
            <button class='card-button card-button-left'>Review</button>
            <button class='card-button card-button-right'>Confident</button>
          </div>
          
        </div>

      </div>
    </div>
  </div>
  
</body>
<script src="{{ url_for('static', filename='script_card2.js') }}"></script>
</html>